.card {
  background-color: $white;
  border-radius: $border-radius-100;

  @include respond-to($breakpoint-medium) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 37.5rem;
  }

  &__img-wrapper {
    display: flex;
  }

  &__img {
    border-radius: $border-radius-100 $border-radius-100 0 0;
    display: block;
    object-fit: cover;
    width: 100%;

    @include respond-to($breakpoint-medium) {
      border-radius: $border-radius-100 0 0 $border-radius-100;
    }
  }

  &__content {
    @include flex-column($space-200);
    padding: $space-300;

    @include respond-to($breakpoint-medium) {
      @include flex-column($space-300);
      padding: $space-400;
    }
  }

  &__product {
    @include flex-column($space-150);

    @include respond-to($breakpoint-medium) {
      @include flex-column($space-250);
    }
  }

  &__product-category {
    color: $dark-grayish-blue;
    font-size: $font-size-150;
    font-weight: 500;
    letter-spacing: $letter-spacing-5;
    text-transform: uppercase;
  }

  &__product-name {
    color: $very-dark-blue;
    font-family: "Fraunces";
    font-size: $font-size-400;
    font-weight: 700;
    line-height: $line-height-100;
  }

  &__info {
    @include flex-column($space-200);

    @include respond-to($breakpoint-medium) {
      @include flex-column($space-325);
    }
  }

  &__description-wrapper {
    @include flex-column($space-250);

    @include respond-to($breakpoint-medium) {
      @include flex-column($space-325);
    }
  }

  &__description {
    color: $dark-grayish-blue;
    font-size: $font-size-175;
    line-height: $line-height-165;
  }

  &__price {
    align-items: center;
    @include flex-row($space-250);

    &--current {
      color: $dark-cyan;
      font-family: "Fraunces";
      font-size: $font-size-400;
      font-weight: 700;
    }

    &--original {
      color: $dark-grayish-blue;
      font-size: $font-size-150;
      text-decoration: line-through;
    }
  }

  &__button {
    @include flex-row($space-150);
    background-color: $dark-cyan;
    border: none;
    border-radius: $border-radius-100;
    color: $white;
    font-size: $font-size-175;
    font-weight: 700;
    justify-content: center;
    padding: $space-200 0;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      @include respond-to($breakpoint-medium) {
        background-color: $very-dark-cyan;
        cursor: pointer;
      }
    }
  }
}
