.card {
  background-color: $white;
  border-radius: $border-radius-100;

  &__img {
    border-radius: $border-radius-100 $border-radius-100 0 0;
    display: block;
    object-fit: cover;
    max-width: 100%;
  }

  &__content {
    @include flex-column($space-200);
    padding: $space-300;
  }

  &__product {
    @include flex-column($space-150);
  }

  &__product-category {
    color: $dark-grayish-blue;
    font-size: $font-size-150;
    font-weight: 500;
    letter-spacing: $letter-spacing-5;
    text-transform: uppercase;
  }

  &__product-name {
    color: $very-dark-blue;
    font-family: "Fraunces";
    font-size: $font-size-400;
    font-weight: 700;
    line-height: $line-height-100;
  }
}
