.card {
  background-color: $white;
  border-radius: $border-radius-100;

  &__img {
    border-radius: $border-radius-100 $border-radius-100 0 0;
    display: block;
    object-fit: cover;
    max-width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-200 0;
    padding: $space-300;
  }
}
