// COLORS
// Primary
$dark-cyan: hsl(158, 36%, 37%);
$very-dark-cyan: hsl(156, 42%, 18%);
$cream: hsl(30, 38%, 92%);

// Neutral
$white: hsl(0, 0%, 100%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);

// TYPOGRAPHY
$font-serif: "Fraunces", serif;
$font-sans-serif: "Montserrat", sans-serif;
$font-size-400: 2rem;
$font-size-175: 0.875rem;
$font-size-150: 0.75rem;

$line-height-165: 1.65;
$line-height-100: 1;

$letter-spacing-5: 5px;
$letter-spacing-03: 0.3px;

// SPACING
$space-400: 2rem;
$space-350: 1.75rem;
$space-325: 1.625rem;
$space-300: 1.5rem;
$space-250: 1.25rem;
$space-200: 1rem;
$space-150: 0.75rem;

// BORDERS
$border-radius-100: 0.5rem;

// BREAKPOINTS
$breakpoint-medium: 600px;
